.swipeButtons {
  position: fixed;
  bottom: 7vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  padding: 15px !important;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__repeat {
  padding: 3vw !important;
  color: green !important;
}

.swipeButtons__left {
  padding: 3vw !important;
  color: aqua !important;
}
.swipeButtons__star {
  padding: 3vw !important;
  color: yellowgreen !important;
}
.swipeButtons__right {
  padding: 3vw !important;
  color: red !important;
}
.swipeButtons__lightning {
  padding: 3vw !important;
  color: aqua !important;
}
